<!DOCTYPE html>
<html>
    <head>
        <title>Email Thread Analyser</title>
    </head>
    <body>
        <div class="container" style="margin: 5rem 5rem; 
            padding: 2rem 31rem;">
            <h1 style="display: flex; justify-content: center;"> Email Tread Analyser</h1>
            <div class="button" style="margin-left: 5rem; margin-top: 10rem;">
        <button class="btn-google" style="font-size:x-large; 
            background-color: rgb(38, 38, 101);
            padding: 0.4rem 0.2rem;">
              <a href="/login" style="color: white;
               text-decoration: none;
               ">Sign in with google</a>
        </button>
        </div>
    </div>
    </body>
</html>